/* Fondo general*/
body{ background:#ffeef8; }

/* Tarjetas */
.bg-white{ box-shadow:0 6px 16px rgba(31,41,55,.08); border-radius:16px; }

/* Boton redondeado */
.btn{ border-radius:12px; }

/*menú despleganle */
.menu-stack{ padding-top:14px; padding-left:16px; }
.menu-pill{
  display:block; width:92%;
  background:#ffe08a; color:#1f2937; font-weight:800; font-size:22px;
  line-height:1; padding:16px 22px; margin:14px 0; text-decoration:none;
  border-radius:18px; box-shadow:0 4px 10px rgba(0,0,0,.08);
  transition: transform .06s ease, box-shadow .12s ease;
}
.menu-pill:hover{ color:#1f2937; transform:translateY(-1px); box-shadow:0 8px 18px rgba(0,0,0,.12); }
.menu-pill.active{ background:#ffd24d; }
.offcanvas-start{ width: 400px;px; border-right:0; }
/*Top y var*/
:root{
  --lavender: #b9b6ff;
}

.topbar{
  background: var(--lavender) !important;
}

/* Navbar */
.navbar,
.navbar.bg-primary,
.navbar-dark.bg-primary{
  background: var(--lavender) !important;
  box-shadow: 0 4px 16px rgba(31,41,55,.08);
}

/* Logo centrado y más grande */
.brand-logo{
  max-height: 84px;
  display: block;
  margin: 8px auto;
  filter: drop-shadow(0 2px 2px rgba(0,0,0,.08));
}

/* responsive segun yo */
@media (max-width: 576px){
  .brand-logo{ max-height: 60px; margin: 6px auto; }
}



